POSTGRES_DB=some_journey
POSTGRES_USER=somejourney
POSTGRES_PASSWORD=somejourney_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql://somejourney:somejourney_password@localhost:5433/some_journey

JWT_SECRET_KEY=change_me_in_real_project
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60