# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env
*.env
backend/.env
backend/app/.env
!.env.example

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node / Expo futuro
node_modules/
.expo/
dist/
build/

# Logs
*.log